@use 'variables' as *;

.btn {
    margin: 0;
    padding: 14px;
    font-size: $font-size-14;
    font-family: $font-family-body;
    width: auto;
    border: none;
    border-radius: 8px;
    outline: none;
    // outline-offset: 2px;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: $transition;

    &-primary {
        background-color: $color-primary;

        &:hover {
            background-color: darken($color-primary, 5%);
        }

        &:active {
            background-color: darken($color-primary, 9%);
        }

        &:focus {
            background-color: darken($color-primary, 9%);
        }
    }
}