@use 'variables' as *;

.card {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    background-color: $color-white;
    border-radius: $border-radius;
    overflow: hidden;

    &.card-border {
        border: 1px solid #E2E8F0;
    }

    &.card-boxed {
        padding: 14px;
    }

    &-form {
        padding: 16px;
    }

    &-image {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        background-color: lighten($color-black, 93%);
        overflow: hidden;
        position: relative;

        @include keep-aspect-ratio(60);

        @at-root {
            .card-boxed & {
                border-radius: $border-radius;
            }

            .card-course > & {

            }
        }

        img {
            margin: 0;
            width: 100%;
            // height: 100%;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: transparent;
            object-fit: cover;
            object-position: top center;

            &:before {
                content: "Image";
                font-size: $font-size-20;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                color: lighten($color-black, 70%);
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
            }

        }
    }

    &-header {
        margin: 0;
        padding: 16px 16px 0;
        display: block;
        width: 100%;
        border: none;

        @at-root {
            .card-form > & {
                padding: 0 0 16px;
                border-bottom: 4px solid $color-primary;
            }
        }
    }

    &-title {
        margin: 0;
        padding: 0;
        font-size: $font-size-18;

        @at-root {
            .card-course > & {
                margin: -5px 0 0;
                padding: 15px 14px 0;
                height: 56px;
                display: block;
                color: lighten($color-black, 20%) !important;
                font-size: $font-size-15;
                font-family: $font-family-body-md;
                overflow: hidden;
                background-color: transparent;
                transition: $transition;

                // @include text-ellipsis;

                &:active,
                &:focus,
                &:hover,
                &:visited {
                    color: $color-black !important;
                }

                &:focus,
                &:hover {
                    color: $color-black !important;
                }

                &:active {
                    color: lighten($color-black, 15%) !important;
                }
            }
        }
    }

    &-heading {
        margin: 16px 0;
        padding: 0;
        font-size: $font-size-16;
    }

    &-summary {
        margin: 10px 0 0;
        padding: 0;
        font-size: $font-size-13;
        font-family: $font-family-body;
        color: lighten($color-black, 40%);

        &:first-child {
            margin: 0;
        }
    }

    &-body {
        margin: 0;
        padding: 16px;
        display: block;
        width: 100%;
        border: none;

        @at-root {
            .card.card-form > & {
                padding: 20px 0;
            }
        }
    }

    &-footer {
        margin: 0;
        padding: 0 16px 16px;
        display: block;
        width: 100%;
        border: none;

        @at-root {
            .card.card-form > & {
                padding: 16px 0 0;
                border-top: 1px solid #E2E8F0;
            }
        }
    }
}

.user-details {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;

    &-item {
        margin: 15px 0 0;
        padding: 0;
        width: 100%;
        display: flex;

        &:first-child {
            margin: 0;
        }

        &-name {
            margin: 0;
            padding: 0;
            display: inline-block;
            font-size: $font-size;
            font-family: $font-family-body;
            color: lighten($color-black, 35%);
        }

        &-value {
            margin: 0 {
                left: auto;
            };
            padding: 0;
            display: inline-block;
            font-size: $font-size;
            font-family: $font-family-body;
            color: $color-black;
        }
    }
}

.user-profile {
    &-photo {
        margin: 0;
        padding: 10px 0 0;
        width: 100%;
        display: flex;
        justify-content: center;

        &-image {
            margin: 0;
            padding: 0;
            width: 120px;
            height: 120px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
                border-radius: 50%;
                border: 4px solid lighten($color-black, 90%);
            }
        }
    }

    &-name {
        margin: 16px 0 0;
        padding: 0 16px;
        width: 100%;
        font-size: $font-size-17;
        font-family: $font-family-heading;
    }

    &-role {
        margin: 10px 0 0;
        padding: 0 16px;
        width: 100%;
        font-size: $font-size;
        font-family: $font-family-body;
    }
}