@use 'variables' as *;

@use "bootstrap/scss/bootstrap-grid.scss" with (
    $grid-gutter-width:  2.31rem, // default 1.5
);

@use "bootstrap/scss/bootstrap-utilities.scss";
@use "choices.js/src/styles/choices.scss";

// @use "flag-icons/sass/flag-icons.scss" with (
//     $flag-icons-path:        "./assets/img/flag-icons",
//     $flag-icons-rect-path:   "/4x3",
//     $flag-icons-square-path: "/1x1",
//     $flag-icons-use-square:  true
// );

@use "normalise";
@use "fonts";
@use "keyframes";
@use "flaticon-regular-rounded";
@use "flaticon-brands";
@use "frame";
@use "nav";
@use "buttons";
@use "card";
@use "forms";
@use "home";
@use "breadcrumb";
@use "pagination";
@use "course";
@use "page-footer";

.media-column {
    &-img {
        background-attachment: scroll;
        background-position: top left;
        background-size: cover;

        & > div {
            background-color: $color-black;
        }
    }
}
