@use 'variables' as *;

.navbar {
    margin: 0;
    padding: 0;
    background-color: $color-white;
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid #E2E8F0;
    width: 100%;
    height: $navbar-height;
    z-index: $z-index-navbar;

    @at-root {
        body.navbar-float & {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    &-brand {
        margin: 0;
        padding: 0;
        display: inline-block;
        color: $color-black !important;

        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: $color-black !important;
        }

        img {
            margin: 0;
            display: block;
            max-width: 200px;
            max-height: 41px;
            color: inherit !important;
        }
    }

    &-action {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        background-color: $color-white;
        position: absolute;
        top: $navbar-height;
        left: 0;
        right: 0;
        transition: all .25s ease;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;

        @media (min-width: $grid-breakpoint-lg-min) {
            width: auto;
            display: inline-block;
            position: unset;
            top: unset;
            left: unset;
            right: unset;
            overflow: unset;
            opacity: unset;
            visibility: unset;
        }

        @at-root {
            body.navbar-nav-active & {
                opacity: 1;
                visibility: visible;
            }
        }

        &-content {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: calc(100vh - $navbar-height);
            // min-height: calc(80vh - $navbar-height);
            // max-height: calc(100vh - $navbar-height);
            position: relative;

            @media (min-width: $grid-breakpoint-lg-min) {
                margin: 0;
                padding: 0;
                display: inline-block;
                flex-direction: unset;
                justify-content: unset;
                width: auto;
                height: unset;
                min-height: unset;
                max-height: unset;
                position: unset;
            }
        }

        &-main {
            margin: 0;
            padding: 10px 0;
            border-top: 1px solid #E2E8F0;
            display: flex;
            flex-direction: column;
            width: 100%;

            @media (min-width: $grid-breakpoint-md-min) {
                flex-direction: row;
            }

            @media (min-width: $grid-breakpoint-lg-min) {
                margin: 0 {
                    left: 15px;
                };
                padding: 0;
                border: none;
                display: inline-block;
                flex-direction: unset;
                width: auto;
            }

            .btn {
                margin: 8px 0 0;
                width: 100%;

                &:first-child {
                    margin: 0;
                }

                @media (min-width: $grid-breakpoint-md-min) {
                    margin: 0 15px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                @media (min-width: $grid-breakpoint-lg-min) {
                    margin: 0;
                    display: inline-block;
                    width: auto;

                    &:last-child {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    &-nav {
        margin: 0;
        padding: 0;
        display: block;
        flex-grow: 1;
        width: 100%;

        @media (min-width: $grid-breakpoint-lg-min) {
            display: inline-block;
            flex-grow: unset;
            width: auto;
        }

        & > &-menu {
            margin: 0;
            padding: 15px 0;
            display: block;
            width: 100%;
            height: 100%;
            max-height: calc(100vh - $navbar-height - 111px);
            overflow: hidden;
            overflow-y: auto;
            list-style-type: none;

            @media (min-width: $grid-breakpoint-md-min) {
                max-height: calc(100vh - $navbar-height - 62px);
            }

            @media (min-width: $grid-breakpoint-lg-min) {
                padding: 0;
                display: inline-block;
                width: auto;
                height: unset;
                max-height: unset;
                overflow: unset;
                overflow-y: unset;
            }

            & > .menu-item {
                margin: 5px 0;
                padding: 0;
                display: block;
                width: 100%;
                color: lighten($color-black, 20%);

                @media (min-width: $grid-breakpoint-lg-min) {
                    margin: 0 5px;
                    display: inline-block;
                    width: auto;
                }

                &.current-menu-item {
                    color: $color-black;
                }

                & > a {
                    margin: 0;
                    padding: 10px 10px;
                    width: 100%;
                    display: block;
                    color: inherit;
                    background-color: transparent;
                    border-radius: 8px;
                    transition: all .25s ease;
                    outline: none;

                    @media (min-width: $grid-breakpoint-lg-min) {
                        padding: 8px 10px;
                        display: inline-block;
                        width: auto;
                    }

                    &:hover {
                        background-color: lighten($color-black, 95%);
                    }

                    &:active {
                        background-color: lighten($color-black, 88%);
                    }

                    &:focus {
                        background-color: lighten($color-black, 95%);
                    }
                }
            }
        }

        &-toggle {
            margin: 0;
            padding: 0;
            width: 40px;
            height: 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            border-radius: 8px;
            outline: none;
            cursor: pointer;
            transition: all .25s ease;

            &:hover {
                background-color: lighten($color-black, 95%);
            }

            &:focus {
                background-color: lighten($color-black, 95%);
            }

            &:active {
                background-color: lighten($color-black, 90%);
            }

            @at-root {
                body.navbar-nav-active & {
                    background-color: lighten($color-black, 90%);
                }
            }

            &-icon {
                margin: 0;
                padding: 0;
                width: 38px;
                height: 38px;
                display: inline-block;
                background-color: transparent;
                border: none;
                border-radius: 50%;
                outline: none;
                cursor: pointer;
                transition: all .25s ease;
                overflow: hidden;
                position: relative;

                img {
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top center;
                    background-color: lighten($color-black, 90%);
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }

    &-notif-toggle {
        margin: 0;
        padding: 6px 0 0;
        width: 32px;
        height: 32px;
        display: inline-flex;
        font-size: $font-size-17;
        justify-content: center;
        align-items: center;
        color: lighten($color-black, 35%);
        background-color: transparent;
        border: none; // 1px solid lighten($color-black, 70%);
        border-radius: 8px;
        outline: none;
        cursor: pointer;
        transition: all .25s ease;

        &:hover {
            background-color: lighten($color-black, 95%);
        }

        &:focus {
            background-color: lighten($color-black, 95%);
        }

        &:active {
            background-color: lighten($color-black, 90%);
        }

        @at-root {
            body.navbar-notif-active & {
                background-color: lighten($color-black, 90%);
            }
        }

    }

    &-notifications {
        margin: 0;
        padding: 0 16px;
        display: flex;
        height: calc(100vh - $navbar-height);
        flex-direction: column;
        background-color: $color-white;
        position: fixed;
        top: $navbar-height;
        left: 0;
        right: 0;
        visibility: hidden;
        transform: scale(.95);
        transition: $transition;
        opacity: 0;

        @at-root {
            body.navbar-notif-active & {
            	transform: scale(1);
                visibility: visible;
                transition: $transition;
                opacity: 1;
            }
        }

    	&-overlay {
    		margin: 0;
    		padding: 0;
	        position: fixed;
	        top: $navbar-height;
	        left: 0;
	        bottom: 0;
	        right: 0;
	        background-color: rgba(0, 0, 0, .3);
	        // visibility: hidden;
	        transition: $transition;
    	}

    	&-header {
	        margin: 0;
	        padding: 10px 0 8px;
	        width: 100%;
	        display: flex;
	        align-items: center;
	        justify-content: space-between;
	        border-bottom: 1px solid #E2E8F0;
    	}

    	&-title {
	        margin: 0;
	        padding: 0;
	        font-size: $font-size-17;
    	}

    	&-close {
	        margin: 0;
	        padding: 5px 5px 0;
	        font-size: $font-size-24;
	        background-color: transparent;
	        color: lighten($color-black, 35%);
	        border: none;
	        outline: none;
	        cursor: pointer;
    	}

    	&-body {
    		flex-grow: 1;
    	}

    	&-footer {
    		margin: 0;
    		padding: 0;
    		position: fixed;
    		bottom: 0;
    		left: 0;
    		right: 0;
    		border-top: 1px solid #E2E8F0;
    	}

    	&-action {
    		margin: 0;
    		padding: 16px 16px;
    		width: 100%;
    		text-align: center;
    		font-family: $font-family-heading;
    		font-size: $font-size;
	        background-color: transparent;
	        border: none;
	        outline: none;
	        cursor: pointer;
	        transition: $transition;

            &:hover {
                background-color: lighten($color-black, 97%);
            }

            &:active {
                background-color: lighten($color-black, 95%);
            }

            &:focus {
                background-color: lighten($color-black, 97%);
            }
    	}
    }

    &-drawer {
        margin: 0;
        padding: 0;
        width: 220px;
        height: 100%;
        max-height: calc(100vh - $navbar-height - 26px);
        display: flex;
        flex-direction: column;
	    align-items: flex-start;
	    align-content: flex-start;
	    justify-content: flex-start;
        background-color: $color-white;
        box-shadow: rgba(9, 10, 12, 0.1) 0px 8px 16px -2px, rgba(9, 10, 12, 0.02) 0px 0px 0px 1px;
        position: fixed;
        top: $navbar-height + 10px;
        left: auto;
        bottom: auto;
        right: 16px;
        border-radius: $border-radius;
        visibility: hidden;
        transform: scale(.95);
        transition: $transition;
        opacity: 0;
        overflow: hidden;

        @at-root {
            body.navbar-nav-active & {
            	transform: scale(1);
                visibility: visible;
                transition: $transition;
                opacity: 1;
            }
        }

        @media (min-width: $grid-breakpoint-lg-min) {
            width: $sidebar-width;
            height: calc(100vh - $navbar-height);
            max-height: unset;
            border: none;
            border-right: 1px solid #E2E8F0;
            border-radius: unset;
            box-shadow: none;
            top: $navbar-height;
            left: 0;
            right: auto;
	        visibility: visible;
	        transform: none;
	        transition: none;
	        opacity: unset;
        }

        .profile-card {
	        margin: 0;
	        padding: 16px;
	        width: 100%;
	        display: flex;
	        transition: $transition;

            &:hover {
                background-color: lighten($color-black, 97%);
            }

            &:active {
                background-color: lighten($color-black, 95%);
            }

            &:focus {
                background-color: lighten($color-black, 97%);
            }

	        @media (min-width: $grid-breakpoint-lg-min) {
	        	padding: 10px;
	        	border-radius: $border-radius;
		        background-color: lighten($color-black, 97%);

                &:hover {
                    background-color: lighten($color-black, 95%);
                }

                &:active {
                    background-color: lighten($color-black, 93%);
                }

                &:focus {
                    background-color: lighten($color-black, 97%);
                }
	        }

	        &-wrapper {
		        margin: 0;
	        	padding: 0;
		        width: 100%;

		        @media (min-width: $grid-breakpoint-lg-min) {
		        	padding: 16px 16px 0;
		        }
	        }

	        &-image {
		        margin: 0;
	        	padding: 0;

	            img {
			        margin: 0;
		        	padding: 0;
		        	width: 45px;
		        	height: 45px;
		        	display: block;
		        	overflow: hidden;
		        	object-fit: cover;
		        	object-position: top left;
		            border: 3px solid lighten($color-primary, 25%);
		            border-radius: $border-radius;
		            background-color: lighten($color-black, 98%);
	            }
	        }

	        &-separator {
	        	margin: 0;
	        	padding: 0;
	        	width: 100%;
	        	display: block;
	        	border-top: 1px solid #E2E8F0;

		        @media (min-width: $grid-breakpoint-lg-min) {
		        	margin: 16px 0 0;
		        }
	        }

	        &-summary {
	        	margin: 0;
	        	padding: 0 0 0 8px;
	        	width: calc(100% - 45px);
	        	display: inline-block;
	        }

	        &-name {
	        	margin: 0;
	        	padding: 0;
	        	display: block;
	        	color: $color-black;
	        	font-size: $font-size;
	        	font-family: $font-family-heading;

			    @include text-ellipsis;
	        }

	        &-role {
	        	margin: 5px 0 0;
	        	padding: 0;
	        	width: 100%;
	        	display: block;
	        	color: $color-black;
	        	// background-color: lighten($color-black, 90%);
	        	font-size: $font-size-12;
	        	font-style: normal;
	        	border-radius: $border-radius;
	        }
        }

        &-nav {
	        margin: 0;
	        padding: 0;
	        width: 100%;
	        height: calc(100% - 78px - 49px);

	        @media (min-width: $grid-breakpoint-lg-min) {
	        	padding: 16px 0;
	        	height: calc(100% - 98px - 58px);
	        }

            &-menu {
		        margin: 0;
		        padding: 16px;
		        width: 100%;
		        height: 100%;
		        overflow-y: auto;
		        list-style-type: none;

		        @media (min-width: $grid-breakpoint-lg-min) {
		        	padding: 0 16px;
		        }

		        & > .menu-item {
			        margin: 8px 0 0;
			        padding: 0;
			        width: 100%;

			        @media (min-width: $grid-breakpoint-lg-min) {
			        	margin: 8px 0 0;
			        }

			        &:first-child {
			        	margin: 0;
			        }

			        &.current-menu-item {
				        & > .menu-link {
					        color: $color-white !important;
					        background-color: $color-black;

		                    &:hover {
		                        background-color: lighten($color-black, 5%);
		                    }

		                    &:active {
		                        background-color: lighten($color-black, 5%);
		                    }

		                    &:focus {
		                        background-color: lighten($color-black, 5%);
		                    }
				        }
			        }

			        & > .menu-link {
				        margin: 0;
				        padding: 10px 16px;
				        width: 100%;
				        color: lighten($color-black, 15%) !important;
	                    display: flex;
	                    font-size: $font-size;
	                    flex-wrap: nowrap;
	                    justify-items: flex-start;
	                    align-items: center;
	                    border-radius: 8px;
	                    transition: all .25s ease;
	                    outline: none;

	                    &:hover {
	                        background-color: lighten($color-black, 95%);
	                    }

	                    &:active {
	                        background-color: lighten($color-black, 88%);
	                    }

	                    &:focus {
	                        background-color: lighten($color-black, 95%);
	                    }

				        @media (min-width: $grid-breakpoint-lg-min) {
				        	padding: 10px 16px;
				        }

	                    & > .menu-item-icon {
	                    	margin: 0 12px 0 0;
	                    	padding: 5px 0 0;
	                    	font-size: $font-size;

					        @media (min-width: $grid-breakpoint-lg-min) {
					        	font-size: $font-size-17;
					        }
	                    }
			        }

		        }
            }
        }

        &-action {
        	margin: auto 0 0;
        	padding: 0;
        	width: 100%;
        	align-self: flex-end;
        	border-top: 1px solid #E2E8F0;

	        @media (min-width: $grid-breakpoint-lg-min) {
	        	padding: 10px 16px;
	        }

        	a {
        		margin: 0;
        		padding: 16px 16px;
        		width: 100%;
        		text-align: center;
        		color: $color-black !important;
        		font-size: $font-size;
        		transition: $transition;

		        @media (min-width: $grid-breakpoint-lg-min) {
		        	padding: 10px 16px;
		        	border-radius: $border-radius;
		        }

	            &:hover {
	                background-color: lighten($color-black, 97%);
	            }

	            &:active {
	                background-color: lighten($color-black, 95%);
	            }

	            &:focus {
	                background-color: lighten($color-black, 97%);
	            }

        	}
        }
    }
}

.hamburger {
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative;

    &-inner {
        margin: -2px 0 0;
        width: 15px;
        height: 2px;
        display: block;
        background-color: $color-black;
        border-radius: 20%;
        position: absolute;
        top: 7px;
        transition: all .15s ease;

        @at-root {
            body.navbar-nav-active & {
                width: 25px;
                transform: translate3d(0, 8px, 0) rotate(45deg);
            }
        }

        &::before {
            content: "";
            display: block;
            width: 25px;
            height: 2px;
            background-color: $color-black;
            border-radius: 20%;
            position: absolute;
            top: 8px;
            transition: all .15s ease, opacity .15s ease;

            @at-root {
                body.navbar-nav-active & {
                    width: 25px;
                    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
                    opacity: 0;
                }
            }
        }

        &::after {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: $color-black;
            border-radius: 20%;
            position: absolute;
            bottom: -10px;
            top: 16px;
            transition: all .15s ease;

            @at-root {
                body.navbar-nav-active & {
                    width: 25px;
                    transform: translate3d(0, -16px, 0) rotate(-90deg);
                }
            }
        }
    }
}

.steps {
    &-h {
        margin: 0;
        padding: 0;
        width: 100%;
        border: 1px solid #E2E8F0;
        border-radius: $border-radius;
        overflow: hidden;

        ol {
            margin: 0;
            padding: 0;
            width: 100%;
            list-style-type: none;

            li {
                margin: 0;
                padding: 0;
                width: 100%;
                display: block;
                border: none;
                border-top: 1px solid #E2E8F0;

                &:first-child {
                    border: none;
                }
            }
        }
    }
}

.step,
a.step {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

    &-status {
        margin: 0;
        padding: 12px 0 {
            left: 16px;
        };

        &-indicator {
            margin: 0;
            padding: 0;
            width: 20px;
            height: 20px;
            background-color: $color-white;
            border: 1px dashed #9E9E9E;
            border-radius: 50%;

            @at-root {
                .step-success & {
                    background-color: $color-success;
                    border: 1px solid $color-success;
                    position: relative;

                    &:after {
                        content: "";
                        margin: 0;
                        padding: 0;
                        width: 6px;
                        height: 10px;
                        display: block;
                        background-color: transparent;
                        border-color: transparent;
                        border-right: 2px solid $color-white;
                        border-bottom: 2px solid $color-white;
                        transform: translate3d(0,-10px,0) rotate(45deg);
                        transform-origin: 0% 100%;
                        position: absolute;
                        top: 50%;
                        left: calc(50% - 6px);
                    }
                }
            }
        }
    }

    &-summary {
        margin: 0;
        padding: 12px 16px;
        flex-grow: 1;
    }

    &-title {
        margin: 0;
        padding: 0;
        display: block;
        color: lighten($color-black, 10%);
        font-size: $font-size;
        font-family: $font-family-heading;
    }

    &-action {
        margin: 0;
        padding: 12px 0 {
            right: 16px;
        };
        display: block;
        color: lighten($color-black, 10%);
        font-size: $font-size;
        font-family: $font-family-heading;
    }
}
